#sidebar {
	width:266px;
	height:850px;
	background:#fff;
	float:left;
	border-right:1px solid #ccc;
}
#sidebar embed {
	display:block;
	width:220px;
	height:200px;
	margin:0 auto;
	margin-top:20px;
}
#content {
	width:600px;
	height:850px;
	background:#fff;
	float:right;
}
#content h1 {
	background:url(../images/newsc.gif) no-repeat;
	width:123px;
	height:27px;
	font-size:100%;
	text-indent:-9999px;
	margin-top:20px;
	margin-left:20px;
}
#content ul {
	margin-left:20px;
	margin-top:10px;
	line-height:180%;
}
#content ul li {
	padding-left:15px;
	background:url(../images/ico.gif) no-repeat left center;
}
#content ul li a {
	text-decoration:none;
	color:#06f;
}
#content ul li a:hover {
	color:#f60;
	text-decoration:underline;
}
#content p {
	margin-top:30px;
	text-align:center;
}